body {
  background-color: #9e9e87;
  margin: 10% 15%;
}

h3{
  font-size: 30px;
  font-family:  Times New Roman, roboto, impact;
  color: navy;
  padding-left: 5px;
  border-bottom: 2px solid black;
}

h4{
  font-size: 24px;
  font-family: Times New Roman, roboto, impact;
  color: beige;
  text-align: center;
}

h5{
  font-size: 20px;
  font-family: Times New Roman, roboto, impact;
  color: black;  
  text-align: center;
}

h6{
  font-size: 20px;
  font-family: Times New Roman, roboto, impact;
  color: black;
  text-align: center;
}

h1{
  font-family: Times New Roman, roboto, impact;
  color: navy;
  font-size: 36px;
}

p{
  color: black; 
  font-family: times new roman, roboto, impact;
  font-size: 21px;
  padding-left: 3px;
}

.header{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding-left: 5px;
}

li{
  color: black;
  font-family: times new roman, roboto, impact;
  font-size: 18px;
}

img{
  width: 180px;
  margin: 5% 5%
}

ul{
  border-bottom: 2px solid black
}
